.github
target
*.iml
.idea
!.idea/runConfigurations/
!.idea/runConfigurations/*.xml

$DepsDir
dist/lib/
dist/app-image/
dist/ticketsync.bat
dist/ticketsync.sh
!dist/*.zip

# Log files
logs/*.log
logs/*.log.gz
logs/*.log.*
tickets/